table td
{
	margin: 0;
	padding: 0;
	border: 1px solid black;
	text-align: center;
}

.words td
{
	word-break: break-all; 
}

table
{
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

textarea
{
	overflow: hidden;
	width: 99%;
} 

#groupTable
{
	word-break: break-all;
}

#table1-1 td 
{	
	width: 20%;
}

#table1-2 td 
{
	width: 14.28%;
}

#table1-3 td 
{
	vertical-align: top;
	width: 20%;
	margin: 0;
	padding: 0;
}

.table1-4 td
{
	width: 11.11%;
}

.firstColumn1
{
	text-align: left !important;
	width: 40% !important;
}

.row h5
{	
	text-align: center;
	vertical-align: bottom;
}

.row a
{
	margin: 0;
	cursor: pointer;
}

td
{
	vertical-align: middle;
}

p
{
	margin: 0;
}

#mySelect
{
	width: 100%;
}

#mySelect1
{
	width: 150px;
}

.ico
{
	width: 1.5em;
	height: 1.5em;
}

#logo
{
	height: 100%;
	vertical-align: middle;
}

.btn-group
{
	cursor: pointer;
	background: #CDC9C9;
	padding: 10px;	
	margin: 10px;
	width: 150px;
}

.btn-group :hover
{
	background: #98FB98;
	padding: 5px;	
	text-align: center;
}

.btn-group img
{
	height: 1.5em;
}

.small-btn-group
{
	padding: 2px;	
	margin: 0 0 2px 2px;
	width: 150px;
}

.small-btn-group img
{
	height: 1em;
}

#twoform
{
	display: inline;
}

.panel
{
	width: 100%;
}

.col_3
{
	width: 3%;
	max-width: 25px;
}

.col_5
{
	width: 5%;
	max-width: 15px;
}

.col_8
{
	width: 8%;
	max-width: 25px;
}

.col_10
{
	width: 10%;
}

.col_12
{
	width: 12%;
	max-width: 30px;
}

.col_15
{
	width: 15%;
}

.col_20
{
	width: 20%;
}

.rotate
{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg) translate(-150%,0px);
}

.rotate_two
{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg) translate(-80%,0px);
}

.maxLenght
{
	 transform: rotate(-90deg);
}

.rotate45
{
	transform: rotate(-90deg) translate(-40%,0px);
}

.dropdown-menu1 div div {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.dropdown-menu1 .title {
    display: inline-block;
    width: 80px;
    height: 20px;
    padding: 5px 0  5px 35px;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.dropdown-menu1 .title::after {
  content: "";
  float: right;
  display: block;
}

.dropdown-menu1.open div div {
  display: block;
  margin-left: 0;
  padding: 20px 0 0 20px;
}

#createForm
{
	text-align: center;
}

.borderNone td
{
	border: none !important;
}